#logo {
  padding-top: 109px;
  width: 272px;
  margin: 0 auto;
  display: block;
}

.search-bar {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 582px;
  height: 44px;
  border-radius: 100px;
  border-style: solid;
  border-color: #dfe1e5;
  border-width: 1px;
}

.search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search {
  font-size: 16px;
  font-family: arial, sans-serif;
  width: 527px;
  height: 34px;
  border-style: none;
}
