#logo {
  padding-top: 170px;
  width: 274px;
  margin: 0 auto;
  display: block;
  margin-left: 815px;
}

.search-bar {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 582px;
  height: 44px;
  border-radius: 100px;
  border-style: solid;
  border-color: #dfe1e5;
  border-width: 1px;
}

.search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search {
  font-size: 16px;
  font-family: arial, sans-serif;
  width: 490px;
  height: 34px;
  border-style: none;
  margin: 0 auto;
}

.magnifying-glass {
  opacity: 0.45;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-right: 535px;
}

.nav ul {
  top: 0;
  list-style: none;
  display: inline;
  margin: 0;
}

.nav-item-left {
  float: left;
}

.nav-item-right {
  float: right;
}

.nav ul li a {
  display: block;
  text-decoration: none;
  opacity: 0.75;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: black;
  padding-left: 18.3px;
  padding-top: 15px;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.nav ul li a:visited {
  text-decoration: none;
}

.app {
  width: 15px;
  height: 15px;
}

.sign-in {
  color: white;
  background-color: #4386f8;
  border-color: #4386f8;
  border-style: solid;
  border-radius: 1px;
  font-weight: 700;
  font-family: arial, sans-serif;
  font-size: 13px;
  width: 70px;
  height: 30px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 8px;
}

.sign-in:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.search-button {
  position: relative;
  top: 30px;
  left: 800px;
  width: 132px;
  height: 37px;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-color: rgb(242, 242, 242);
  border-radius: 1px;
  border-style: solid;
  border-color: #f2f2f2;
  color: #5f6368;
  text-align: center;
  border-radius: 3px;
}

.search-button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.lucky-button {
  position: relative;
  top: 30px;
  left: 807px;
  width: 132px;
  height: 37px;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-color: rgb(242, 242, 242);
  border-radius: 1px;
  border-style: solid;
  border-color: #f2f2f2;
  color: #5f6368;
  text-align: center;
  border-radius: 3px;
}

.lucky-button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
